asn1crypto==0.24.0
cachetools==3.1.1
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
cryptography==2.1.4
dialogflow==0.8.0
enum34==1.1.10
Flask==1.1.2
futures==3.3.0
google-api-core==1.16.0
google-auth==1.13.1
googleapis-common-protos==1.51.0
grpcio==1.28.1
gyp==0.1
idna==2.9
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.1
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycrypto==2.6.1
pygobject==3.26.1
pytz==2019.3
pyxdg==0.25
requests==2.23.0
rsa==4.0
SecretStorage==2.3.1
six==1.14.0
urllib3==1.25.8
Werkzeug==1.0.1
